/* Modal Info */
.modal-info {
	position: fixed;
	inset: 0;
	background: #39415090;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-info .modal-content {
	background: #fff;
	padding: 20px;
	border-radius: 20px;
	width: 90%;
	max-width: 300px;
	box-shadow: inset 0 0 1px #39415055,
	inset 0 0 5px #39415055,
	2px 6px 10px #39415055;
}
.modal-info .modal-header {
	margin-bottom: 20px;
}
.modal-info .modal-header h3 {
	font-weight: normal;
}
.modal-info .modal-body {
	margin-bottom: 20px;
	color: #394150;
	font-size: 14px;
	line-height: 22px;
}
.modal-info .modal-body div {
	position: relative;
}
.modal-info .modal-body p {
	margin-bottom: 10px;
}
.modal-info .modal-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	padding: 0 2.5%;
}
.modal-info .modal-footer button {
	margin: 0;
	border: 0;
	font-size: 12px;
	padding: 12px 0;
	box-shadow: 0 0 0 1px #39415022;
	background: transparent;
	border-radius: 20px;
	font-family: Monospace;
	font-weight: bold;
	color: #394150;
	min-width: 80px;
	flex: 1;
}
.modal-info .modal-footer button.edit {
  color: #008800;
}
.modal-info .modal-footer button.hapus {
	color: #ff0000;
}
.modal-info .modal-footer button.oke {
	color: #00aaff;
}
.modal-info .modal-footer button:hover {
	background: #39415010;
}
.modal-info .modal-footer button.edit:hover {
  background: #00880010;
}
.modal-info .modal-footer button.hapus:hover {
	background: #ff000010;
}
.modal-info .modal-footer button.oke:hover {
	background: #00aaff10;
}
.modal-info.info-form {
	align-items: flex-start;
	padding-top: 20px;
}
.modal-info.info-form .modal-content {
	padding-bottom: 30px;
}
.modal-info.info-form h3 {
	text-align: center;
}
.modal-info.info-form .row {
	text-align: center;
}
.modal-info.info-form input {
	text-align: center;
}
.modal-info form {
	width: 90%;
	margin: auto;
}
.modal-info form div.row {
	margin-bottom: 10px;
}
.modal-info form label {
	font-family: Monospace;
	font-weight: normal;
}
.modal-info form input {
	padding: 10px;
	margin: 3px 0;
	width: 100%;
	display: block;
	outline: none;
	border: 0;
	border-radius: 4px;
	box-shadow: 0 0 0 1px #39415055;
}
.modal-info form input:focus {
	box-shadow: 0 0 0 1px #39415055, 0 0 0 4px #39415022;
}
.modal-info form input[readonly] {
	background: #39415011;
}
.modal-info form input[readonly]:focus {
	box-shadow: 0 0 0 1px #39415055;
}
.modal-info form#formPembayaran input {
	text-align: center;
	font-size: 24px;
	font-family: Monospace;
	font-weight: bold;
}
.modal-info form#formPembayaran input[readonly] {
	box-shadow: none;
}

/* Modal Scanner */
.modal-scanner {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}
.modal-scanner .modal-content {
  background: #394150;
  padding: 15px;
  border-radius: 0;
  width: 100%;
  max-width: 400px;
  text-align: center;
  position: absolute;
  top: 0;
}
.modal-scanner .scanner-box {
  width: 100%;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  background: #000;
}
.modal-scanner .modal-content p {
	color: #aaa;
	margin-bottom: 5px;
	text-align: left;
}
.modal-scanner .modal-content .scan-file {
	position: absolute;
	right: 25px;
	bottom: 80px;
	z-index: 999;
}
.modal-scanner .modal-content .scan-file button {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0 1px #fff;
	font-size: 26px;
	color: #fff;
	border-radius: 4px;
	padding: 0;
	margin: 0;
	width: 32px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modal-scanner .close-btn {
  margin-top: 10px;
  width: 100%;
  background: #ff4500;
  padding: 10px;
  border-radius: 10px;
  border: none;
  color: #fff;
  font-weight: bold;
}

/* Garis merah animasi */
.modal-scanner .scan-line {
  position: absolute;
  top: 163px;
  width: 100%;
  width: 270px;
  height: 1px;
  background: #0f0;
  animation: scanMove 2.2s infinite;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}
.modal-scanner .scan-line.show {
	display: block;
}

@keyframes scanMove {
  0% { transform: translate(-50%, 0); }
  50% { transform: translate(-50%, 70px); }
  100% { transform: translate(-50%, 0); }
}

/* Tombol flash */
.modal-scanner .flash-btn {
  position: absolute;
  left: 25px;
  bottom: 80px;
  z-index: 999;
}

.modal-scanner .flash-btn button {
  background: transparent;
  border: 0;
  box-shadow: 0 0 0 1px #fff;
  font-size: 26px;
  color: #fff;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  width: 32px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Autofocus indikator */
.modal-scanner .autofocus-dot {
  position: absolute;
  top: 20px;
  right: 14px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #00ff00;
  box-shadow: 0 0 10px #0f0;
  animation: blinkDot 1.5s infinite;
}

@keyframes blinkDot {
  0% { opacity: 0.3; }
  50% { opacity: 1; }
  100% { opacity: 0.3; }
}